body {
    font-family: 'Montserrat',sans-serif;
}

h1 {
    font-family: 'Montserrat',sans-serif;
    font-size: 3rem;
    line-height: 1.5;
   
}

h3 {
    font-size: 1.5rem;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0px 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

.brandname {
    font-family: 'Ubuntu',sans-serif;
    font-size: 2.5rem;
}

.container-fluid {
    padding: 3% 15%;
}

#title {
    background-color: #ff4c68;
     color: white;
}

.download-button {
    margin: 5% 3% 5% 0%;
}

.iphone {
    transform: rotate(30deg);
    width: 60%;
}

.circle,
.bullseye,
.heart {
    
    font-size: 500%;
    margin-top: 10px;
    color: orange;
}

.circle:hover {
    color: red;
}

.bullseye:hover {
    color: red;
}

.heart:hover {
    color: red;
}

#features {
    text-align: center;
    padding: 7% 15%;
}

